:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;  
  padding: 20px;  
}

#root {
  background-color: white;
  border-radius: 20px;
  width: 500px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-right: 700px;
}

header {
  background-color: #535bf2;
  padding: 5px;
  border-radius: 20px;
  width: 500px;
  margin-right: 502px;
  margin-bottom: 20px;
}

h1 {
  margin: 2px;
  margin-right: 20px;
  color: white;
}

h2 {
  text-align: center;
  margin: 10px 0 20px;
}

#form-container {
  background-color: rgb(219, 240, 241);
  border-radius: 20px;
  width: 490px;
  box-shadow: 1 1 20px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 15px;
}

form {
  display: grid;
  gap: 15px;
  width: 100%;
}

label {
  color: #333;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 2px;
  width: 100%;
  box-sizing: border-box;
}

input {
  flex: 1;
  padding: 8px;
  border-radius: 10px;
  border: 2px solid gray;
  transition: border-color 0.3s;
  box-sizing: border-box;
}

input:hover {
  border-color: black;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #000000;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}

button:hover {
  border-color: #646cff;
  background-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #747bff;
}

.error {
  color: red;
  font-size: 0.9em;
  margin-top: -5px;
}