.form-container {
  width: 400px;
  margin: auto;
  margin-top: 30px;
  margin-left: 450px;
  padding:28px;
  border-radius: 8px;
  background-color: indigo;
}

.form-title {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  color: white;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error-message {
  color: red;
  font-size: 12px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: crimson;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: green;
}